In [1]:
import pandas as pd
time_sentences=["Monday: The doctor's appointment is at 2:45pm.",
               "Tuesday: The dentist's appointment is at 11:30 am.",
               "Wednesday: At 7:00pm, there is a basketball game!",
               "Thursday: Be back at home by 11:45 pm at the latest.",
               "Friday: Take the train at 08:10 am, arrive at 09:00am."]

In [5]:
df=pd.DataFrame(time_sentences)
df.columns=['text']

In [6]:
print(df)

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back at home by 11:45 pm at the l...
4  Friday: Take the train at 08:10 am, arrive at ...

In [7]:
df['text'].str.len()

0    46
1    50
2    49
3    52
4    54
Name: text, dtype: int64

In [8]:
df['text'].str.split().str.len() #gives the length of each token after splitting on white spaces

0     7
1     8
2     8
3    11
4    10
Name: text, dtype: int64

In [9]:
df['text'].str.contains('appointment') # we can find the pattern of any string in any of the rows

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [12]:
df['text'].str.count(r'\d') #occurences of digit in each digit..i.e, no of times any digit occurs in a string

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [14]:
# finding which are the occurences
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 4, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [15]:
# capturing all the minutes and hours from the each strings
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 45)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [16]:
df['text'].str.replace(r'\w+day\b','???') #find all the occurences of day and replace them with the ???

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3      ???: Be back at home by 11:45 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [19]:
# taking each of the day from the string and replace them with the three letter abbreviation
df['text'].str.replace(r'(\w+day\b)',lambda x:x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3      Thu: Be back at home by 11:45 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [21]:
# to create new column extracted from the other columns
df['text'].str.extract(r'(\d?\d):(\d\d)')

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

    0   1
0   2  45
1  11  30
2   7  00
3  11  45
4  08  10

In [24]:
# use of extract all
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:45 pm  11  45  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [25]:
# namegroups of the dataframe
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:45 pm   11     45     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am